*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.portfolio-wrap{
    max-width: 1510px;
    margin: 0 auto;
    padding: 5px 5px;
    }

  .portfolio-item{
    display: flex;
    flex-wrap: wrap;
   
}
.portfolio-item li{
    display: block;
    width: 375px;
    height: 340px;
    overflow: hidden;
    border: 1px solid #ffffff;
 }
 .portfolio-item li img{
    transform: scale(1.1);
 }

 .portfolio-item li img:hover{
    
    transform: scale(1.4);
}

.portfolio-item img{
    transition: 0.8s;
}
.portfolio-item li{
    margin: 0;
    overflow: hidden;
    position: relative;
}
.portfolio-item {
    list-style:none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0;
}
.portfolio-item li {
    position: relative;
    display: inline-block;
    background-color: #fff;
    margin: 0;
    overflow: hidden;
}
/* Заголовок, текст и ссылка */
.portfolio-item li h4{
    color: #fff;
    margin: 5px;
}
.portfolio-item li h5{
    color: #fff;
    margin: 5px;
}
/* .hover-effect-cover li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #fff;
    background: #000;
    border-radius: 5px;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
}
.hover-effect-cover li a:hover {
    background: #454545;
    color: #fff;
} */
/* Выезжающий блок с текстом для панели слева направо */
.portfolio-item li > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Фон блока при наведении */
    transition: all 0.4s ease-in-out;
    color: #fff;
    transform: translate(-250px, 0px) rotate(0deg); /* Направление выезжающей панели */
}
.portfolio-item li:hover div{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 1;
    transform: translate(0px, 0px) rotate(0deg);
}


