.btn-1{
  width: 100px;
  height: 25px;
  margin-bottom: 20px;
}
.out-1{
  border: 1px solid #cccc;
  width: 100px;
  height: 25px;
  margin-bottom: 25px;
}
.btn-2{
  width: 100px;
  height: 25px;
  margin-bottom: 20px;
}
.out-2{
  border: 1px solid #cccc;
  width: 100px;
  height: 25px;
  margin-bottom: 25px;
}

.btn-4{
  width: 100px;
  height: 25px;
  margin-bottom: 20px;
}
.out-4{
  border: 1px solid #cccc;
  width: 200px;
  height: 25px;
  margin-bottom: 25px;
  text-align: center;
}
.btn-5{
  width: 100px;
  height: 25px;
  margin-bottom: 20px;
}
.out-5{
  border: 1px solid #cccc;
  width: 200px;
  height: 25px;
  margin-bottom: 25px;
  text-align: center;
}

